.sidebar {
    width: 107px;
    margin-bottom: 16px;
    background-color: $twilight-blue;
    
    ul {
        margin: 15px 8px;
        
        & > li {
            border-radius: 4px;
            margin-bottom: 8px;
                
            &.active { background-color: $azure; }
            
            a {
                width: 91px;
                height: 72px;
                display: block;
                padding-top: 52px;
                font: 700 11px 'Roboto Condensed';
                color: #FFF;
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
            }
            
            &.anuncios a { background: url(../img/svg/building.svg) no-repeat center 7px }
            &.adicionar a { background: url(../img/svg/plus-icon.svg) no-repeat center 15px}
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 769px) and (max-width : 992px) {
    .sidebar {
        width : 90px;
        ul > li a { width: 74px; font-size: 10px; }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .sidebar {
        width: 100%; margin: 0;
        
        ul {
            margin : 8px;
            
            & > li {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 8px;
                border-radius: 2px;
                
                a {
                    width: auto;
                    height: 52px;
                    padding: 2px 12px 0 0;
                    font-size: 14px;
                    line-height: 52px;
                }
                
                &.anuncios a, &.adicionar a { background-position: 12px center; background-size: 24px; padding-left: 48px; }
                
            }
        }
    }
}

/* Custom, galaxy S5 */ 
@media only screen and (max-width : 375px) { 
    .sidebar ul { margin: 8px 14px; }
}
