/* BGs */
$bg-gray: #F1F1F1;
$water-blue : #1190cd;
$azure : #00acff;
$twilight-blue : #094e6e;
$dark-gray : #e0e0e0;
$medium-gray : #f9f9f9;
$light-gray : #fafafa;
$white : #fff;
$white-two : #e5e5e5;

/*fonts*/
$brownish-grey : #666666;
$greyish-brown : #444444;
$warm-grey : #999999;
$warm-grey-two : #979797;
$warm-grey-three : #878787;