/* BGs */
$bg-gray: #F1F1F1;
$water-blue : #1190cd;
$azure : #00acff;
$twilight-blue : #094e6e;
$medium-gray : #f9f9f9;
$light-gray : #fafafa;

/*fonts*/
$brownish-grey : #666666;
$greyish-brown : #444444;
$warm-grey : #999999;