.results_filter {
    width: 230px;
    margin: 16px 19px;
    background-color: $medium-gray;
    flex: none;
    
    padding: 13px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

    .property_filters {
        legend {
            font: 700 16px/1.3 'Roboto Condensed';
            color: $brownish-grey;
        }
        ul {
            li {
                width: 50%;
                float: left;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding: 8px 6px 17px 0;
                &:nth-child(even) {
                    padding-left: 6px;
                    padding-right: 0;
                }
                &:last-child {
                    margin-top: 24px;
                }
                
                label {
                    font: 12px/1.5 'Roboto Condensed';
                    color: $warm-grey;
                    text-transform: uppercase;
                }
                input {
                    border-radius: 2px;
                    background-color: #FFF;
                    border: solid 1px #979797;
                    width : 100%;
                    font-size: 12px;
                    padding: 9px 6px;
                }
            }
        }
    }
    
/* Medium Devices, Desktops */
@media only screen and (min-width: 769px) and (max-width : 992px) {
	.results_filter {
		width: 200px; margin: 16px 12px;
		
		ul li input { padding : 6px; }
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {  
    .results_filter {
        width: auto;
        margin: 0;
        padding: 8px 12px;
        line-height: 1;
    }
    
    .property_filters ul li {
        width: 16.66%;
        padding: 0px 10px 6px 0;
        border: none;
        
        &:nth-child(even) { padding-right: 10px; padding-left: 0; }
        &:last-child { margin-top: 16px; }
        
        label { font-size: 11px; }
        input { padding: 6px; }
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .property_filters ul li { 
        padding: 0px 6px 6px 0;
        &:nth-child(even) { padding-right: 6px; }
        
        input { padding : 4px 3px; font-size: 11px; }
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { 
    .property_filters ul li { width: 33.33%; }
}