.results_filter {
    width: 230px;
    margin: 16px 19px;
    background-color: $medium-gray;
    flex: none;
    
    padding: 13px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

    .property_filters {
        legend {
            font: 700 16px/1.3 'Roboto Condensed';
            color: $brownish-grey;
        }
        ul {
            li {
                width: 50%;
                float: left;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding: 8px 6px 17px 0;
                &:nth-child(even) {
                    padding-left: 6px;
                    padding-right: 0;
                }
                &:last-child {
                    margin-top: 24px;
                }
                
                label {
                    font: 12px/1.5 'Roboto Condensed';
                    color: $warm-grey;
                    text-transform: uppercase;
                }
                input {
                    border-radius: 2px;
                    background-color: $white;
                    border: solid 1px $warm-grey-two;
                    width : 100%;
                    font-size: 12px;
                    padding: 9px 6px;
                }
            }
        }
    }