.results_list {
    margin: 16px;
    margin-left: 0;
    background-color: $white;
    flex: 1;
    
    padding: 15px 17px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    
    .results_list_not-found {
        text-align: center;
        color: #E6E6E6;
        fill: currentColor;
        
        svg {
            width: 90px;
            height: 93px;
            margin-top: 30px;
            text-shadow: rgba(229, 229, 229, 0.66) 1px 1px 0px;
        }
        strong {
            font: 700 20px 'Roboto Condensed';
            text-transform: uppercase;
            color: #D0D0D0;
            text-shadow: rgba(229, 229, 229, 0.66) 1px 1px 0px;
            display: block;
            margin: 30px auto;
        }
    }
}

    .results_property {
        display: flex;
        height: 224px;
        border-radius: 2px;
        background-color: $white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
        margin-bottom: 18px;
        &:last-child { margin-bottom: 0 }
        &.ng-enter {
            transition: 2s linear all;
            opacity: 0;
        }
        &.ng-enter.ng-enter-active { opacity: 1; }
        
        .property_photo {
            width: 298px;
            height: 228px;
            position: relative;
            flex: none;
            background: $medium-gray url(../img/svg/logo-vivareal.svg) no-repeat center 40px/50%;
            color: $brownish-grey;
            
            img {
                max-width: 298px;
                max-height: 228px;
            }
            & > span {
                font: 600 23px/1.4 'Open Sans';
                color: $white;
                text-shadow:0px 1px 0px #333333;
                position: absolute;
                bottom: 0;
                left: 0;
                padding-left: 12px;
                padding-bottom: 14px;
            }
        }
    }
    
    .property_details {
        min-width: 390px;
        margin-top: 8px;
        
        dt {
            margin-left: 17px;
            font: 700 13px/1.2 'Roboto Condensed';
            color: $warm-grey-three;
            
            border-radius: 2px;
            background-color: $white;
            border: solid 1px #e5e5e5;
            display: inline;
            padding: 0 6px;
        }
        dd {
            margin: 0 17px;
            
            &.property_title {
                font: 700 18px/1.5 'Roboto Condensed';
                color: $greyish-brown;
                margin-top: 7px;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 1.5em;
            }
            
            &.property_description {
                font: 13px/1.6 'Roboto Condensed';
                color: $warm-grey-three;
                height: 84px;
                overflow: hidden;
                margin-top: 4px;
                margin-bottom: 20px;
            }
            
            &.property_features {
                height: 50px;
                margin: 0;
                padding: 0 4px 0 17px;
                background-color: $light-gray;
                box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
                
                ul {
                  float: left;  
                }
                li {
                    display: inline-block;
                    height: 50px;
                    padding-top: 30px;
                    font: 700 13px 'Roboto Condensed';
                    color: $warm-grey;
                    text-align: center;
                    text-transform: uppercase;
                    margin-right: 11px;
                    &:last-child { margin-right: 0px; }
                    
                    &.m2    { background: url(../img/svg/ic-card-area.svg) no-repeat center 10px }
                    &.beds  { background: url(../img/svg/ic-card-beds.svg) no-repeat center 10px}
                    &.baths { background: url(../img/svg/ic-card-bathroom.svg) no-repeat center 10px}
                }
                button {
                    float: right;
                    width: 144px;
                    height: 32px;
                    font: 700 14px/1.1 'Roboto Condensed';
                    color: $white;
                    text-transform: uppercase;
                    border-radius: 2px;
                    background-color: $azure;
                    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);
                    border: none;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
        }
        
    }