<!doctype html>
<html lang="pt-br" ng-app="spotippos">
	<head>
		<meta charset="utf-8" />
		<base href="/app/" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		
		<title>Spotippos - An&uacute;ncios</title>
		<meta name="description" content="Encontre seu im&oacute;vel em Spottipos atrav&eacute;s de uma rica experi&ecirc;ncia, utilizando diversos filtros para refinar os resultados" />
		
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		
		<!-- App Icons -->
		<link rel="apple-touch-icon" sizes="57x57" href="assets/img/ico/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="assets/img/ico/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="assets/img/ico/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="assets/img/ico/apple-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="assets/img/ico/apple-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="assets/img/ico/apple-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="assets/img/ico/apple-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="assets/img/ico/apple-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/ico/apple-icon-180x180.png" />
		<link rel="icon" type="image/png" sizes="192x192"  href="assets/img/ico/android-icon-192x192.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="assets/img/ico/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="assets/img/ico/favicon-96x96.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="assets/img/ico/favicon-16x16.png" />
		<link rel="manifest" href="manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="assets/img/ico/ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />
		
		<link rel="stylesheet" href="assets/css/spotippos.css" />
        
		<!-- build:js /app/assets/js/vendor.min.js -->	
		<script src="lib/jquery/jquery.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-cookies.js"></script>
		<script src="lib/angular-ui-router/angular-ui-router.js"></script>
		<!-- endbuild -->
	</head>
	
	<body>
		<div class="main-wrap">
			<header class="site-header clearfix">
                <div class="logo">
                    <a href="#">Spotippos</a>
                </div>
				<h1 class="title">Spotippos - An&uacute;ncios</h1>
			</header>
			
			<main class="site-main clearfix">
				<section class="sidebar clearfix">
                    <nav clas="sidebar_links">
                        <ul>
                          <li class="sidebar_link anuncios"><a href="#">Anúncios</a></li>
                          <li class="sidebar_link adicionar"><a href="#">Novo anúncio</a></li>
                        </ul>
                    </nav>
				</section>
				
                <section class="results_filter clearfix" ng-controller="propertyFilterController" ng-cloak>
                    <form class="property_filters" name="propertyFilters" delegate-event="change,input,updateFilters" novalidate>
						<fieldset>
							<legend>Filtro</legend>
							<ul>
								<li><label>Id
									<input type="text"   name="id" ng-model="id" autocomplete="off" /></label></li>
								<li><label>&Aacute;rea
									<input type="number" name="square-meters" min="20" max="240" ng-model="squareMeters" ng-min="20" ng-max="240"/></label></li>
								<li><label>Quartos
									<input type="number" name="beds" min="1" max="5" ng-model="beds" /></label></li>
								<li><label>Banheiros
									<input type="number" name="baths" min="1" max="4" ng-model="baths" /></label></li>
								<li><label>Valor
									<input type="number" name="min-price" min="0" placeholder="M&iacute;nimo" ng-model="minPrice" /></label></li>
								<li><label>
									<input type="number" name="max-price" min="1" placeholder="M&aacute;ximo" ng-model="maxPrice" /></label></li>
							</ul>
						</fieldset>
                    </form>
                </section>
                    
                <section class="results_list clearfix" ng-controller="resultsController" ng-cloak>
                    <section class="results_property clearfix" ng-repeat="property in properties | orderBy : 'price' track by property.id ">
                        <div class="property_photo">
                            <img ng-src="{{ property.picture }}" />
                            <span>{{ property.price | currency : 'R$ ' : 0 }}</span>
                        </div>
                        <dl class="property_details">
                            <dt>ID {{ property.id }}</dt>
                            <dd class="property_title">{{ property.title }}</dd>
                            <dd class="property_description">{{ property.description }}</dd>
                            <dd class="property_features clearfix">
                                <ul>
                                    <li class="m2">{{ property.squareMeters }} M&sup2;</sup></li>
                                    <li class="beds">{{ property.beds }} Quartos</li>
                                    <li class="baths">{{ property.baths }} Banheiros</li>
                                </ul>
                                <button>Visualizar anúncio</button>
                            </dd>
                        </dl>
                    </section>
                </section>
                
			</main>
		</div>
	</body>

	<!-- build:js /app/assets/js/app.min.js -->	
	<script src="assets/js/app.js"></script>
	<script src="assets/js/controllers.js"></script>
	<script src="assets/js/directives.js"></script>
	<script src="assets/js/filters.js"></script>
	<script src="assets/js/services.js"></script>
	
	<script src="modules/results/resultsModule.js"></script>
	<script src="modules/results/js/controllers.js"></script>
	<script src="modules/results/js/filters.js"></script>
	<script src="modules/results/js/directives.js"></script>
	<script src="modules/results/js/services.js"></script>
	
	<script src="modules/property-filter/propertyFilterModule.js"></script>
	<script src="modules/property-filter/js/controllers.js"></script>
	<script src="modules/property-filter/js/filters.js"></script>
	<script src="modules/property-filter/js/directives.js"></script>
	<script src="modules/property-filter/js/services.js"></script>
	<!-- endbuild -->
</html>