                <section class="site-content_results">

                    <section class="property-info clearfix" ng-cloak>
                        <section class="property clearfix" ng-if="property">
                            <div class="property_photos">
                                <div class="photo">
                                    <img ng-src="{{ property.picture }}" />
                                </div>
                                <h3>Localiza&ccedil;&atilde;o em Spotippos</h3>
                                <property-map property-location="{{location}}"></property-map>
                            </div>
                            <dl class="property_details">
                                <dt>ID {{ property.id }}</dt>
                                <dd class="property_title">{{ property.title }}</dd>
                                <dd class="property_description">{{ property.description }}</dd>
                                <dd class="property_features clearfix">
                                    <ul>
                                        <li class="price">{{ property.price | currency : 'R$ ' : 0 }}</li>
                                        <li class="priceM2">{{ property.price/property.squareMeters | currency : 'R$ ' }} / M&sup2;</li>
                                        <li class="m2">{{ property.squareMeters }} M&sup2;</li>
                                        <li class="beds">{{ property.beds }} Quartos</li>
                                        <li class="baths">{{ property.baths }} Banheiros</li>
                                    </ul>
                                    <a href="#/results">Voltar</a>
                                </dd>
                            </dl>
                        </section>
                        <section class="property_not-found" ng-show="!property">
                            <div class="ng-animate-disabled blink">
                                <svg><use xlink:href="assets/img/icons.svg#building" /></svg>
                                <strong>Carregando dados do im&oacute;vel...</strong>
                            </div>
                        </section>
                    </section>

                </section>
