

.main-wrap {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper-content {
  margin: auto;
  @media screen and (min-width: 320px)  { @include resp-pad(16, 320);  }
  @media screen and (min-width: 360px)  { @include resp-pad(16, 360);  }
  @media screen and (min-width: 375px)  { @include resp-pad(16, 375);  }
  @media screen and (min-width: 425px)  { @include resp-pad(16, 425);  }
  @media screen and (min-width: 768px)  { @include resp-pad(16, 768);  }
  @media screen and (min-width: 1024px) { @include resp-pad(16, 1024); }
  @media screen and (min-width: 1280px) { @include resp-pad(16, 1280); }
  @media screen and (min-width: 1440px) { @include resp-pad(16, 1440); }
}

  .site-header {
    background: #f6f6f6;

    .wrapper-content {
      &:last-child {
        padding: 0;
      }
    }
  }

    .site-header__brand {
      background: url(../img/brand-header.png) center no-repeat;
      width: 90px;
      height: 68px;
      @extend .ir;

      a {
        @extend .inherit;
      }
    }

    .site-header__step-by-step {
      display: flex;
      justify-content: space-around;
      padding: 5px 0;
      background: #fff; 
      width: 320px;
      margin: auto;
    }

      .step-by-step__item {
        @include font-size(12);
        background: #dedede;
        color: #afafaf;
        display: inline-block;
        line-height: 25px;
        border-radius: 25px;
        counter-increment: step-item;
        position: relative;
        

        &::before {
          content: counter(step-item);
          display: block;
          background: #afafaf;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          color: #fff;
          position: absolute;
          top: 2px;
          left: 4px;
        }

        &::after {
          content: "";
          display: block;
          width: 25px;
          height: 4px;
          background: #dedede;
          position: absolute;
          top: 10px;
          right: -25px;

          @media screen and (min-width: 425px) { width: 40px; right: -40px; }
        }

        &:last-of-type::after {
          display: none;
        }

        a {
          @extend .inherit;

          padding: 0 15px 0 30px;
        }
      }

      .step-by-step--current {
        background: #7dd7ff;
        color: #fff;

        &:before {
          background: #fff;
          color: #7dd7ff;
        }
      }

  .site-footer {
    background: #0061b2;
  }

    .site-footer__brand {
      background: url(../img/brand-footer.png) center no-repeat;
      width: 90px;
      height: 68px;
      @extend .ir;
      float: left;

      a {
        @extend .inherit;
      }
    }

    .site-footer__copyright {
      @include font-size(11);
      color: #fff;
      float: right;
      line-height: 68px;
    }


/**
 * 360px
 */
@media screen and (min-width: 360px) {
  .site-header__step-by-step {
    width: 360px;
  }

  .site-header {
    .wrapper-content {
      &:last-child {
        background: #fff;
      }
    }
  }
}


/**
 * 640px
 */
@media screen and (min-width: 640px) {
    
    .site-header__step-by-step {
      top: 18px;
      right: 0;
      background: none;
      position: absolute;
    }

    .site-header {
      .wrapper-content {
        &:first-child {
          width: 44%;
          float: left;
        }

        &:last-child {
          width: 50%;
          float: right;
          margin-top: 0;
          padding: 0;
          position: relative;
        }
      }
    }
}

/**
 * 768px
 */
@media screen and (min-width: 768px) {
  
}

/**
 * 960px
 */
@media screen and (min-width: 960px) {
  .site-header__step-by-step {
    right: initial;
    left: 0;
    @include transform(translateX(-50%));
  }
}


/**
 * 1024px
 */
@media screen and (min-width: 1024px) {

}


/**
 * 1280px
 */
@media screen and (min-width: 1280px) {
  
}


/**
 * 1440px
 */
@media screen and (min-width: 1440px) {
  
}
