@mixin font-size($pxFontSize, $baseFontSize: 16) {
  font-size: 1px * $pxFontSize; /* ie fallback */
  font-size: 1rem * ($pxFontSize/$baseFontSize);
}

@mixin resp-width($elementWidth, $contextWidth) {
  width: 100% * ($elementWidth/$contextWidth);
}

@mixin resp-pad($spacing, $contextWidth) {
  padding-left: 100% * ($spacing/$contextWidth);
  padding-right: 100% * ($spacing/$contextWidth);
}

@mixin ir() {
    display: block;
    float: left;
    font-size: 1px;
    text-indent: -9000px;
}

@mixin opacity($value){
    $ie: $value * 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ie+")";
    filter: alpha(opacity=$ie);
    opacity: $value;
}

@mixin border-radius($config) {
 -webkit-border-radius: $config;
    -moz-border-radius: $config;
         border-radius: $config;
}

@mixin box-shadow($config) {
       -moz-box-shadow: $config;
    -webkit-box-shadow: $config;
            box-shadow: $config;
}

@mixin text-shadow($config) {
      -moz-text-shadow: $config;
   -webkit-text-shadow: $config;
           text-shadow: $config;
}

@mixin transition($config) {
    -webkit-transition: $config;
       -moz-transition: $config;
         -o-transition: $config;
            transition: $config;
}

@mixin transform($config) {
     -webkit-transform: $config;
        -moz-transform: $config;
         -ms-transform: $config;
          -o-transform: $config;
             transform: $config;
}